<main>
    <div class="mx-auto w-75 mt-5">
        <% if(self) { %>
            <img src="../images/banner-picture.jpg" class="img-ratio rounded w-100" height="250" alt="">
        <% } else { %>
            <img src="https://loremflickr.com/320/240/nature,cat,dog" class="img-ratio rounded w-100" height="250" alt="">
        <% } %>    
    </div>
    <div class="row gx-0 justify-content-center mt-n5">
        <div class="col-auto px-3 align-self-center">
            <% if(self) { %>
                <img src="../images/profile-picture.jpg" class="rounded-circle img-ratio" width="250" height="250" alt="">
            <% } else { %>
                <img src="https://loremflickr.com/320/240/man,woman" class="rounded-circle img-ratio" width="250" height="250" alt="">
            <% } %> 
        </div>
        <div class="col-auto px-3 align-self-center">
            <h1 class="text-uppercase"><%= data.name%></h1>
            <div class="text-secondary"><i class="fa fa-star text-secondary"></i> Highest contributor</div>
        </div>
        <div class="col-auto align-self-center">
            <% if (self){ %>
                <span role="button" data-bs-toggle="modal" data-bs-target="#modal"><i class="fa fa-edit fs-3"></i></span>
            <% } else { %>
                <% if (myFriends.find(friend => friend.id === userId)) { %>
                    <a href="/removeFriend/profile/<%= userId %>" class="btn btn-primary">Remove</a>
                <% } else { %>
                    <a href="/addFriend/profile/<%= userId %>" class="btn btn-secondary">Add as Friend</a>
                <% } %>
            <% } %>
        </div>
    </div>
    <hr class="my-4 w-75 mx-auto" size="3">

    <div class="container-fluid mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-8">
                <%- include('./partials/messages', {alert: "warning"}) %>

                <% if(friends.length > 0) { %>
                    <% if(self) { %>
                        <div class="h2 text-center mb-3">My friends</div>
                    <% } else { %>
                        <div class="h2 text-center mb-3">Friends</div>
                    <% } %>
                    
                    <% friends.forEach((user, index) => { %>
                        <%- include('./partials/user', {user, index, onlyFriends: true}) %>
                    <% }) %>

                <% } %>

            </div>
        </div>
    </div>
</main>
<% if (self){ %>
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/profile" method="post">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Edit name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-secondary">Save</button>
            </div>
            </div>
        </form>
    </div>
    </div>
<% } %>
