
    <% if(!!spot.coordinates) { %>
        <input type="hidden" id="latitude" value="<%= spot.coordinates[0] %>">
        <input type="hidden" id="longitude" value="<%= spot.coordinates[1] %>">
    <% } %>

    <main class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-10 bg-light bg-opacity-50 rounded my-5 p-4">
                <div class="h3 text-center text-secondary">Share your spot</div>
    
                <form action="/spotform/<%= spot._id %>" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name of the spot</label>
                        <input type="text" class="form-control" id="name" name="name" value="<%= spot.name %>" aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">Spot</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" id="description" class="form-control" rows="4" cols="50"><%= spot.name %></textarea>
                    </div>
                    <div>
                        <label for="coordinates">Coordinates</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" value="<%= spot.coordinates %>" id="coordinates" placeholder="Coordinates" aria-label="Coordinates" aria-describedby="button-addon2">
                            <button type="button" class="btn btn-outline-secondary" id="button-addon2" data-bs-toggle="modal" data-bs-target="#modal"><i class="fa fa-location-dot"></i></button>
                        </div>
                    </div>
                    <div>
                        <label for="photo">Photo</label>
                        <div class="input-group mb-3">
                            <input type="file" multiple class="form-control" name="photo" id="inputGroupFile02">
                            <label class="btn btn-outline-secondary" for="inputGroupFile02"><i class="fa fa-image"></i></label>
                          </div>
                    </div>
                    <div class="mb-3">
                        <label for="difficulty">Difficulty</label>
                        <select name="difficulty" id="difficulty" class="form-control">
                            <option value="facile" <% if (spot.difficulty == 'facile') { %>selected<% } %>>Easy</option>
                            <option value="intermédiaire" <% if (spot.difficulty == 'intermédiaire') { %>selected<% } %>>Intermediate</option>
                            <option value="difficile" <% if (spot.difficulty == 'difficile') { %>selected<% } %>>Hard</option>
                        </select>
                    </div>
    
    
                    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalLabel">Coordinates</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                  <div id="us2" style="width: 100%; height: 380px;"></div>
                                  <input type="hidden" name="latitude" id="us2-lat"/>
                                  <input type="hidden" name="longitude" id="us2-lon"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Got it!</button>
                            </div>
                          </div>
                        </div>
                    </div>
    
                    <div class="text-center my-3">
                        <button type="submit" id="submit" class="btn btn-primary w-25">Share</button>
                        <a href="/spotfeed/1" class="btn btn-secondary w-25">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </main>  
    
    
    





    


